<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.netease.yj.springboottest.dao.ActReportPlayHistoryDao">

    <resultMap id="ActReportPlayHistoryMap" type="ActReportPlayHistory">

    </resultMap>

    <select id="getByPlayId" parameterType="map" resultMap="ActReportPlayHistoryMap">
        select * from
            TB_IC_ACT_REPORT_PLAY_HISTORY
        where playId=#{playId}
    </select>

    <select id="getByHistoryId" parameterType="map">
        select * from
            TB_IC_ACT_REPORT_PLAY_HISTORY
        where historyId=#{historyId}
    </select>

    <select id="getHistoryListByPlayId" resultMap="ActReportPlayHistoryMap" parameterType="map">
        select id, historyId, playId, creator, createTime
        from TB_IC_ACT_REPORT_PLAY_HISTORY
        where playId=#{playId}
    </select>
</mapper>
